# Preprocessing Data

In [62]:
import pandas as pd

surabaya_df = pd.read_csv("../../data/rumah123.csv")
gresik_df = pd.read_csv("../../data/rumah123_gresik.csv")
sidoarjo_df = pd.read_csv("../../data/rumah123_sidoarjo.csv")

rumah123_df = pd.concat([surabaya_df, gresik_df, sidoarjo_df])
rumah123_df

,price,name,location,bedroom,bathroom,land_area,building_area
0,"Rp 1,68 Miliar",Rumah Baru Gress Daerah Merr Dan Jalan Kembar ...,"Rungkut, Surabaya",3,3,67 m²,120 m²
1,Rp 950 Juta,Jual Rumah 2 Lantai Medokan Ayu Utara,"Medokan Ayu, Surabaya",3,3,72 m²,140 m²
2,Rp 500 Juta,Rumah Dekat Merr 500juta Di Wonorejo Rungkut,"Wonorejo, Surabaya",2,1,30 m²,36 m²
3,Rp 950 Juta,Cluster Baru Mewah Dekat Merr Oerr Dan Kampus,"Sukolilo, Surabaya",2,2,50 m²,55 m²
4,Rp 600 Juta,Perumahan Murah Kebraon Surabaya Selatan,"Kebraon, Surabaya",2,1,50 m²,56 m²
...,...,...,...,...,...,...,...
10012,"Rp 1,2 Miliar","Rumah Diamond Park, Juanda, Sidoarjo","Sedati, Sidoarjo",3,2,90 m²,112 m²
10013,Rp 660 Juta,"Rumah Pesona Sekar Gading, Sekardangan, Sidoarjo","Sidoarjo, Sidoarjo",2,1,90 m²,70 m²
10014,Rp 3 Miliar,"murah, ...Hitung tanah,..pusat industri ngingas","Waru, Sidoarjo",4,1,1300 m²,200 m²
10015,Rp 600 Juta,Rumah Siap Huni Murah Oasis Residence Juanda S...,"Sedati, Sidoarjo",2,1,84 m²,60 m²
10016,"Rp 3,65 Miliar",rumah full furnish deltasari indah sidoarjo,"Waru, Sidoarjo",4,3,300 m²,420 m²

In [63]:
# rumah123_df.columns = [col.lower().strip().replace(" ", "_") for col in rumah123_df.columns]

### Menghapus format m2 (meter persegi)

In [64]:
def remove_m2(df):
    df["building_area"] = (
        df["building_area"].replace(r"(\d+)\s*m²", r"\1", regex=True).astype(float)
    )
    df["land_area"] = (
        df["land_area"].replace(r"(\d+)\s*m²", r"\1", regex=True).astype(float)
    )


remove_m2(rumah123_df)

rumah123_df

,price,name,location,bedroom,bathroom,land_area,building_area
0,"Rp 1,68 Miliar",Rumah Baru Gress Daerah Merr Dan Jalan Kembar ...,"Rungkut, Surabaya",3,3,67.0,120.0
1,Rp 950 Juta,Jual Rumah 2 Lantai Medokan Ayu Utara,"Medokan Ayu, Surabaya",3,3,72.0,140.0
2,Rp 500 Juta,Rumah Dekat Merr 500juta Di Wonorejo Rungkut,"Wonorejo, Surabaya",2,1,30.0,36.0
3,Rp 950 Juta,Cluster Baru Mewah Dekat Merr Oerr Dan Kampus,"Sukolilo, Surabaya",2,2,50.0,55.0
4,Rp 600 Juta,Perumahan Murah Kebraon Surabaya Selatan,"Kebraon, Surabaya",2,1,50.0,56.0
...,...,...,...,...,...,...,...
10012,"Rp 1,2 Miliar","Rumah Diamond Park, Juanda, Sidoarjo","Sedati, Sidoarjo",3,2,90.0,112.0
10013,Rp 660 Juta,"Rumah Pesona Sekar Gading, Sekardangan, Sidoarjo","Sidoarjo, Sidoarjo",2,1,90.0,70.0
10014,Rp 3 Miliar,"murah, ...Hitung tanah,..pusat industri ngingas","Waru, Sidoarjo",4,1,1300.0,200.0
10015,Rp 600 Juta,Rumah Siap Huni Murah Oasis Residence Juanda S...,"Sedati, Sidoarjo",2,1,84.0,60.0
10016,"Rp 3,65 Miliar",rumah full furnish deltasari indah sidoarjo,"Waru, Sidoarjo",4,3,300.0,420.0

In [65]:
rumah123_df.sort_values("land_area", ascending=False).head(20)

,price,name,location,bedroom,bathroom,land_area,building_area
8003,Rp 700 Juta,Rumah Siap Huni Murah Diselatan Surabaya,"Waru, Sidoarjo",2,1,910000.0,450000.0
8002,Rp 700 Juta,Rumah Siap Huni Dengan Fasilitas Ready Semua,"Waru, Sidoarjo",2,1,910000.0,450000.0
13494,Rp 895 Juta,"Green Lake Wonorejo 2 Lantai Wonorejo, Surabaya","Wonorejo, Surabaya",2,1,720000.0,500000.0
8615,Rp 120 Miliar,PAPRIK BATA RINGAN PRODUKSI AKTIF Raya Balongb...,"Balongbendo, Sidoarjo",5,2,31688.0,8947.0
1732,"Rp 4,22 Miliar",Rumah 2 Lantai Raya Cangkir Dryorejo Gresik,"Driyorejo, Gresik",4,2,13349.0,1041.0
12137,"Rp 1,4 Miliar",Dijual Rumah Palma Classica Citraland,"Pakal, Surabaya",3,2,12000.0,5400.0
26307,"Rp 1,9 Miliar",Rumah Baru Minimalis Hook di Gading Pantai Dek...,"Kenjeran, Surabaya",4,3,10800.0,15000.0
13476,"Rp 1,8 Miliar",Baru Modern Minimalis Rumah Gading Pantai Sura...,"Kenjeran, Surabaya",4,3,9450.0,14000.0
4405,Rp 500 Juta,Rumah Bagus Strtaegis Perumahan Safira Juanda ...,"Buduran, Sidoarjo",3,1,9000.0,9000.0
1120,"Rp 1,8 Miliar",Dijual Rumah Bagus Terawat 2 Lantai di Jl Bint...,"Gresik Kota, Gresik",2,2,7200.0,7200.0
2436,"Rp 44,5 Miliar",Rumah Ex Cafe Luas Asri Desain Ramah Lingkungan,"Waru, Sidoarjo",4,4,5245.0,1700.0
5796,Rp 25 Miliar,Rumah Raya Porong,"Porong, Sidoarjo",13,8,3887.0,900.0
2094,"Rp 3,52 Miliar",Lelang Aset Sidoarjo Di Tulangan Di Gudang Ray...,"Tulangan, Sidoarjo",2,1,3282.0,2000.0
3661,"Rp 2,76 Miliar",0507.9 Jual Rumah Sidoarjo Di Balongbendo Di G...,"Balongbendo, Sidoarjo",2,1,3233.0,800.0
1128,"Rp 9,5 Miliar",Dijual Tanah Lokasi Strategis di Semambung Juanda,"Sedati, Sidoarjo",1,1,3100.0,850.0
9975,"Rp 16,5 Miliar",Dijual Murah Rumah Pusat Kota Sidoarjo hanya 5...,"Sidoarjo, Sidoarjo",4,3,2758.0,875.0
2408,Rp 16 Miliar,Jl KH Samanhudi Pusat kota Sidoarjo,"Sidoarjo, Sidoarjo",4,3,2758.0,875.0
1078,Rp 16 Miliar,rumah usaha tengah kota samanhudi,"Sidoarjo, Sidoarjo",4,3,2758.0,1000.0
3098,"Rp 24,3 Miliar",Dijual Rumah 2 Lantai SHM Strategis di Jenggol...,"Buduran, Sidoarjo",2,2,2704.0,250.0
4171,"Rp 27,5 Miliar",RUMAH TANAH RAYA PABEAN SEDATI SIDOARJO (P4889),"Sedati, Sidoarjo",4,3,2506.0,450.0

### Format harga

In [66]:
def convert_currency(value):
    value = value.replace("Rp", "").replace(",", ".").strip()  # Hapus Rp & ganti , ke .

    if "Miliar" in value:
        return float(value.replace("Miliar", "").strip()) * 1_000
    elif "Juta" in value:
        return float(value.replace("Juta", "").strip())
    else:
        return float(value) / 1_000_000  # Jika tidak ada satuan, bagi dengan juta


rumah123_df["price"] = rumah123_df["price"].apply(convert_currency)
rumah123_df

,price,name,location,bedroom,bathroom,land_area,building_area
0,1680.0,Rumah Baru Gress Daerah Merr Dan Jalan Kembar ...,"Rungkut, Surabaya",3,3,67.0,120.0
1,950.0,Jual Rumah 2 Lantai Medokan Ayu Utara,"Medokan Ayu, Surabaya",3,3,72.0,140.0
2,500.0,Rumah Dekat Merr 500juta Di Wonorejo Rungkut,"Wonorejo, Surabaya",2,1,30.0,36.0
3,950.0,Cluster Baru Mewah Dekat Merr Oerr Dan Kampus,"Sukolilo, Surabaya",2,2,50.0,55.0
4,600.0,Perumahan Murah Kebraon Surabaya Selatan,"Kebraon, Surabaya",2,1,50.0,56.0
...,...,...,...,...,...,...,...
10012,1200.0,"Rumah Diamond Park, Juanda, Sidoarjo","Sedati, Sidoarjo",3,2,90.0,112.0
10013,660.0,"Rumah Pesona Sekar Gading, Sekardangan, Sidoarjo","Sidoarjo, Sidoarjo",2,1,90.0,70.0
10014,3000.0,"murah, ...Hitung tanah,..pusat industri ngingas","Waru, Sidoarjo",4,1,1300.0,200.0
10015,600.0,Rumah Siap Huni Murah Oasis Residence Juanda S...,"Sedati, Sidoarjo",2,1,84.0,60.0
10016,3650.0,rumah full furnish deltasari indah sidoarjo,"Waru, Sidoarjo",4,3,300.0,420.0

### Memastikan data yang dipakai itu rumah

In [67]:
rumah123_df = rumah123_df[
    ~rumah123_df["name"].str.contains("kos|apartemen|tanah", case=False, na=False)
]

### Konsistensi nama lokasi

In [68]:
rumah123_df["location"] = rumah123_df["location"].str.title()

C:\Users\akmal\AppData\Local\Temp\ipykernel_12696\2507484076.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rumah123_df["location"] = rumah123_df["location"].str.title()

### Export CSV

In [69]:
rumah123_df = rumah123_df.astype({"price": int, "land_area": int, "building_area": int})
rumah123_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37519 entries, 0 to 10016
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          37519 non-null  int32
 1   name           37518 non-null  object
 2   location       37519 non-null  object
 3   bedroom        37519 non-null  int64
 4   bathroom       37519 non-null  int64
 5   land_area      37519 non-null  int32
 6   building_area  37519 non-null  int32
dtypes: int32(3), int64(2), object(2)
memory usage: 1.9+ MB

In [70]:
rumah123_df.to_csv("../../data/rumah123_cleaned.csv", index=False)