In [1]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("Dataset/rumah123_update_tipe.csv")

df = df.drop(columns=["Unnamed: 0", "name"], errors='ignore')
df

        price     location  bedroom  bathroom  land_area  building_area
0      1680.0      rungkut        3         3       67.0          120.0
1       950.0  medokan ayu        3         3       72.0          140.0
2       500.0     wonorejo        2         1       30.0           36.0
3       950.0     sukolilo        2         2       50.0           55.0
4       600.0      kebraon        2         1       50.0           56.0
...       ...          ...      ...       ...        ...            ...
25929  1600.0  gununganyar        3         1      144.0           70.0
25930  1700.0    mulyorejo        5         2      120.0          200.0
25931  1300.0     wonorejo        5         3      120.0          180.0
25932   225.0      lainnya        6         4      642.0          600.0
25933   225.0      lainnya        6         4      642.0          600.0

[25934 rows x 6 columns]

In [2]:
df.duplicated().sum()

9650

In [3]:
df = df.drop_duplicates()

In [4]:
df.duplicated().sum()

0

In [ ]:
# import ydata_profiling as pp

# profile = pp.ProfileReport(df)
# profile.to_file('Report_Rumah123.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 6/6 [00:00<00:00, 90.31it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
setup(
    df, 
    target='price',
    transform_target=True, 
    normalize=True, 
    normalize_method='minmax',
    remove_outliers=True, 
    outliers_threshold=0.05,
    categorical_features=['location'],
    session_id=42
)

In [7]:
best = compare_models()

Initiated  . . . . . . . . . . . . . . . . . .              08:40:34
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [12]:
tuned_model = tune_model(best, search_library='scikit-optimize', search_algorithm='bayesian')

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits

In [13]:
holdout_pred = predict_model(tuned_model)

In [14]:
new_data = df.copy()
new_data.drop('price', axis=1, inplace=True)
new_data.head()

      location  bedroom  bathroom  land_area  building_area
0      rungkut        3         3       67.0          120.0
1  medokan ayu        3         3       72.0          140.0
2     wonorejo        2         1       30.0           36.0
3     sukolilo        2         2       50.0           55.0
4      kebraon        2         1       50.0           56.0

In [15]:
predictions = predict_model(tuned_model, data = new_data)
predictions.head()

      location  bedroom  bathroom  land_area  building_area  prediction_label
0      rungkut        3         3       67.0          120.0       1329.560463
1  medokan ayu        3         3       72.0          140.0       1210.658331
2     wonorejo        2         1       30.0           36.0        402.683862
3     sukolilo        2         2       50.0           55.0        906.907631
4      kebraon        2         1       50.0           56.0        678.085467

In [16]:
save_model(tuned_model, 'house-price-rf')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('target_transformation',
                  TransformerWrapperWithInverse(transformer=TargetTransformer(estimator=PowerTransformer(standardize=False)))),
                 ('numerical_imputer',
                  TransformerWrapper(include=['bedroom', 'bathroom', 'land_area',
                                              'building_area'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(...
                 ('rest_encoding',
                  TransformerWrapper(include=['location'],
                                     transformer=TargetEncoder(cols=['location'],
                                                               handle_missing='return_nan'))),
                 ('remove_outliers',
                  TransformerWrapper(transformer=RemoveOutliers(random_state=42))),
                 ('normalize', TransformerWrapper(transformer=MinMaxScaler())),
                 ('trained_model',
                  <catboost.core.CatBoostRegressor object at 0x000001E5E962AE10>)]),
 'house-price-rf.pkl')