In [1]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("../../data/99_cleaned.csv")

df = df.drop(columns=["Unnamed: 0", "name"], errors='ignore')
df

       price             location  bedroom  bathroom  land_area  building_area
0      200.0             Surabaya        2         1         78             78
1      200.0  Jambangan, Surabaya        2         1         72             70
2      200.0             Surabaya        3         1        152            150
3      200.0             Surabaya        2         1         78             75
4      235.0             Surabaya        2         1         69             65
...      ...                  ...      ...       ...        ...            ...
6849  2500.0             Surabaya        4         4        150            200
6850  2500.0   Sukolilo, Surabaya        4         2        147            200
6851  2500.0             Surabaya        3         2        240            300
6852  2500.0             Surabaya        2         1        105            125
6853   225.0             Surabaya        6         4        642            600

[6854 rows x 6 columns]

In [2]:
df.duplicated().sum()

1549

In [3]:
df = df.drop_duplicates()

In [4]:
df.duplicated().sum()

0

In [5]:
# import ydata_profiling as pp

# profile = pp.ProfileReport(df)
# profile.to_file('pp_report/Report_99.html')

In [6]:
setup(
    df, 
    target='price',
    transform_target=True, 
    normalize=True, 
    normalize_method='minmax',
    remove_outliers=True, 
    outliers_threshold=0.05,
    categorical_features=['location'],
    session_id=42
)

In [7]:
best = compare_models()

In [ ]:
tuned_model = tune_model(best, search_library='scikit-optimize', search_algorithm='bayesian')

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits

In [9]:
holdout_pred = predict_model(tuned_model)

In [10]:
new_data = df.copy()
new_data.drop('price', axis=1, inplace=True)
new_data.head()

              location  bedroom  bathroom  land_area  building_area
0             Surabaya        2         1         78             78
1  Jambangan, Surabaya        2         1         72             70
2             Surabaya        3         1        152            150
3             Surabaya        2         1         78             75
4             Surabaya        2         1         69             65

In [11]:
predictions = predict_model(tuned_model, data = new_data)
predictions.head()

,location,bedroom,bathroom,land_area,building_area,prediction_label
0,Surabaya,2,1,78,78,838.562369
1,"Jambangan, Surabaya",2,1,72,70,752.089670
2,Surabaya,3,1,152,150,1252.654032
3,Surabaya,2,1,78,75,841.014326
4,Surabaya,2,1,69,65,658.323671

In [12]:
# save_model(tuned_model, '99-CB')