In [15]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("../../data/full_dataset.csv")

df = df.drop(columns=["Unnamed: 0", "name"], errors='ignore')
df

,price,location,bedroom,bathroom,land_area,building_area
0,1680.0,"Rungkut, Surabaya",3,3,67,120
1,950.0,"Medokan Ayu, Surabaya",3,3,72,140
2,500.0,"Wonorejo, Surabaya",2,1,30,36
3,950.0,"Sukolilo, Surabaya",2,2,50,55
4,600.0,"Kebraon, Surabaya",2,1,50,56
...,...,...,...,...,...,...
32784,2500.0,Surabaya,4,4,150,200
32785,2500.0,"Sukolilo, Surabaya",4,2,147,200
32786,2500.0,Surabaya,3,2,240,300
32787,2500.0,Surabaya,2,1,105,125
32788,225.0,Surabaya,6,4,642,600

In [16]:
df.duplicated().sum()

13086

In [17]:
df = df.drop_duplicates()

In [18]:
df.duplicated().sum()

0

In [21]:
lokasi_count = df['location'].value_counts()
lokasi_count

location
Rungkut, Surabaya         2617
Surabaya                  2284
Sidoarjo, Sidoarjo        1690
Wiyung, Surabaya          1103
Kenjeran, Surabaya         904
                          ...
Candi, Sidoarjo              1
Karangploso, Malang          1
Kedamean, Gresik             1
Kedungkandang, Malang        1
Balongpanggang, Gresik       1
Name: count, Length: 143, dtype: int64

In [22]:
lokasi_kecil = lokasi_count[lokasi_count < 10].index
df['location'] = df['location'].apply(lambda x: 'Lainnya' if x in lokasi_kecil else x)
(df['location'] == 'Lainnya').value_counts()

location
False    19510
True       193
Name: count, dtype: int64

In [19]:
# import ydata_profiling as pp

# profile = pp.ProfileReport(df)
# profile.to_file('pp_report/Report_full.html')

In [23]:
setup(
    df, 
    target='price',
    transform_target=True,
    normalize=True, 
    normalize_method='minmax',
    remove_outliers=True, 
    outliers_threshold=0.05,
    categorical_features=['location'],
    session_id=42
)

In [24]:
# best = compare_models()
top3_models = compare_models(n_select=3)

In [25]:
blended = blend_models(estimator_list=top3_models)

In [26]:
predict_model(blended)

,location,bedroom,bathroom,land_area,building_area,price,prediction_label
17201,"Mulyosari, Surabaya",3,3,122,144,1950.0,1832.384091
11759,"Rungkut, Surabaya",2,1,105,90,975.0,1004.513850
4043,"Sambikerep, Surabaya",5,4,139,150,1750.0,1707.789072
22778,"Simokerto, Surabaya",1,1,93,90,1030.0,778.703591
2127,"Kebraon, Surabaya",3,2,84,110,1700.0,1358.827958
...,...,...,...,...,...,...,...
6807,"Darmo Permai, Surabaya",2,2,78,85,950.0,1403.803089
12515,"Sidoarjo, Sidoarjo",2,1,72,45,438.0,547.284628
18748,"Gununganyar, Surabaya",3,2,75,90,1600.0,1205.837734
7821,"Surabaya Kota, Surabaya",2,2,90,85,2000.0,1262.625540
9454,"Kapasan, Surabaya",2,2,162,162,700.0,1293.335743

In [27]:
stacked = stack_models(estimator_list=top3_models)

In [28]:
predict_model(stacked)

,location,bedroom,bathroom,land_area,building_area,price,prediction_label
17201,"Mulyosari, Surabaya",3,3,122,144,1950.0,1823.275036
11759,"Rungkut, Surabaya",2,1,105,90,975.0,1003.945989
4043,"Sambikerep, Surabaya",5,4,139,150,1750.0,1718.028842
22778,"Simokerto, Surabaya",1,1,93,90,1030.0,772.913164
2127,"Kebraon, Surabaya",3,2,84,110,1700.0,1384.298873
...,...,...,...,...,...,...,...
6807,"Darmo Permai, Surabaya",2,2,78,85,950.0,1389.938414
12515,"Sidoarjo, Sidoarjo",2,1,72,45,438.0,552.864041
18748,"Gununganyar, Surabaya",3,2,75,90,1600.0,1222.818749
7821,"Surabaya Kota, Surabaya",2,2,90,85,2000.0,1270.372296
9454,"Kapasan, Surabaya",2,2,162,162,700.0,1229.860121

In [29]:
tuned_model = tune_model(blended, search_library='scikit-optimize', search_algorithm='bayesian')

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits

In [31]:
tuned_model = tune_model(stacked, search_library='scikit-optimize', search_algorithm='bayesian')

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [ ]:
# new_data = df.copy()
# new_data.drop('price', axis=1, inplace=True)
# new_data.head()

                location  bedroom  bathroom  land_area  building_area
0      Rungkut, Surabaya        3         3         67            120
1  Medokan Ayu, Surabaya        3         3         72            140
2     Wonorejo, Surabaya        2         1         30             36
3     Sukolilo, Surabaya        2         2         50             55
4      Kebraon, Surabaya        2         1         50             56

In [ ]:
# predictions = predict_model(tuned_model, data = new_data)
# predictions.head()

,location,bedroom,bathroom,land_area,building_area,prediction_label
0,"Rungkut, Surabaya",3,3,67,120,1329.153096
1,"Medokan Ayu, Surabaya",3,3,72,140,1127.126952
2,"Wonorejo, Surabaya",2,1,30,36,412.174211
3,"Sukolilo, Surabaya",2,2,50,55,832.374166
4,"Kebraon, Surabaya",2,1,50,56,668.827038

In [14]:
# save_model(tuned_model, 'full-cb')