In [1]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("dataset/99_ready.csv")

df = df.drop(columns=["Unnamed: 0", "name"], errors='ignore')
df

       price             location  bedroom  bathroom  land_area  building_area
0      200.0             Surabaya        2         1       78.0           78.0
1      200.0  Jambangan, Surabaya        2         1       72.0           70.0
2      200.0             Surabaya        3         1      152.0          150.0
3      200.0             Surabaya        2         1       78.0           75.0
4      235.0             Surabaya        2         1       69.0           65.0
...      ...                  ...      ...       ...        ...            ...
6753  2500.0             Surabaya        4         4      150.0          200.0
6754  2500.0   Sukolilo, Surabaya        4         2      147.0          200.0
6755  2500.0             Surabaya        3         2      240.0          300.0
6756  2500.0             Surabaya        2         1      105.0          125.0
6757   225.0             Surabaya        6         4      642.0          600.0

[6758 rows x 6 columns]

In [2]:
df.duplicated().sum()

1457

In [3]:
df = df.drop_duplicates()

In [4]:
df.duplicated().sum()

0

In [ ]:
# import ydata_profiling as pp

# profile = pp.ProfileReport(df)
# profile.to_file('pp_report/Report_99.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 6/6 [00:00<00:00, 260.85it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [9]:
setup(
    df, 
    target='price',
    transform_target=True, 
    normalize=True, 
    normalize_method='minmax',
    remove_outliers=True, 
    outliers_threshold=0.05,
    categorical_features=['location'],
    session_id=42
)

In [10]:
best = compare_models()

In [11]:
tuned_model = tune_model(best, search_library='scikit-optimize', search_algorithm='bayesian')

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [12]:
holdout_pred = predict_model(tuned_model)

In [13]:
new_data = df.copy()
new_data.drop('price', axis=1, inplace=True)
new_data.head()

              location  bedroom  bathroom  land_area  building_area
0             Surabaya        2         1       78.0           78.0
1  Jambangan, Surabaya        2         1       72.0           70.0
2             Surabaya        3         1      152.0          150.0
3             Surabaya        2         1       78.0           75.0
4             Surabaya        2         1       69.0           65.0

In [14]:
predictions = predict_model(tuned_model, data = new_data)
predictions.head()

,location,bedroom,bathroom,land_area,building_area,prediction_label
0,Surabaya,2,1,78.0,78.0,899.111061
1,"Jambangan, Surabaya",2,1,72.0,70.0,801.322390
2,Surabaya,3,1,152.0,150.0,1372.118454
3,Surabaya,2,1,78.0,75.0,879.821483
4,Surabaya,2,1,69.0,65.0,709.779140

In [15]:
save_model(tuned_model, '99-CB')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('target_transformation',
                  TransformerWrapperWithInverse(transformer=TargetTransformer(estimator=PowerTransformer(standardize=False)))),
                 ('numerical_imputer',
                  TransformerWrapper(include=['bedroom', 'bathroom', 'land_area',
                                              'building_area'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(...
                 ('rest_encoding',
                  TransformerWrapper(include=['location'],
                                     transformer=TargetEncoder(cols=['location'],
                                                               handle_missing='return_nan'))),
                 ('remove_outliers',
                  TransformerWrapper(transformer=RemoveOutliers(random_state=42))),
                 ('normalize', TransformerWrapper(transformer=MinMaxScaler())),
                 ('trained_model',
                  <catboost.core.CatBoostRegressor object at 0x000002847DB22790>)]),
 '99-CB.pkl')