In [12]:
import pandas as pd
from pycaret.regression import *

df = pd.read_csv("../../data/99_cleaned.csv")

df = df.drop(columns=["Unnamed: 0", "name"], errors='ignore')
df

       price             location  bedroom  bathroom  land_area  building_area
0      200.0             Surabaya        2         1         78             78
1      200.0  Jambangan, Surabaya        2         1         72             70
2      200.0             Surabaya        3         1        152            150
3      200.0             Surabaya        2         1         78             75
4      235.0             Surabaya        2         1         69             65
...      ...                  ...      ...       ...        ...            ...
6849  2500.0             Surabaya        4         4        150            200
6850  2500.0   Sukolilo, Surabaya        4         2        147            200
6851  2500.0             Surabaya        3         2        240            300
6852  2500.0             Surabaya        2         1        105            125
6853   225.0             Surabaya        6         4        642            600

[6854 rows x 6 columns]

In [13]:
df.duplicated().sum()

1549

In [14]:
df = df.drop_duplicates()

In [15]:
df.duplicated().sum()

0

In [16]:
# import ydata_profiling as pp

# profile = pp.ProfileReport(df)
# profile.to_file('pp_report/Report_99.html')

In [17]:
setup(
    df, 
    target='price',
    transform_target=True, 
    normalize=True, 
    normalize_method='minmax',
    remove_outliers=True, 
    outliers_threshold=0.05,
    categorical_features=['location'],
    session_id=42
)

In [18]:
best = compare_models()

In [ ]:
# tuned_model = tune_model(best, search_library='scikit-optimize', search_algorithm='bayesian')
tuned_model = tune_model(best)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [25]:
holdout_pred = predict_model(tuned_model)

In [26]:
new_data = df.copy()
new_data.drop('price', axis=1, inplace=True)
new_data.head()

              location  bedroom  bathroom  land_area  building_area
0             Surabaya        2         1         78             78
1  Jambangan, Surabaya        2         1         72             70
2             Surabaya        3         1        152            150
3             Surabaya        2         1         78             75
4             Surabaya        2         1         69             65

In [27]:
predictions = predict_model(tuned_model, data = new_data)
predictions.head()

,location,bedroom,bathroom,land_area,building_area,prediction_label
0,Surabaya,2,1,78,78,807.997428
1,"Jambangan, Surabaya",2,1,72,70,841.518576
2,Surabaya,3,1,152,150,1142.350762
3,Surabaya,2,1,78,75,810.208884
4,Surabaya,2,1,69,65,661.079029

In [28]:
# save_model(tuned_model, '99-CB')